*{
    padding: 0px;
    margin: 0px;
}
body{
    background: linear-gradient(90deg, rgba(40,48,199,1) 4%, rgba(2,247,249,1) 51%, rgba(13,140,196,1) 94%);
}
.box1{
    width: 800px;
    height: 510px;
    margin: auto;
    margin-top: 60px;
    display: flex;
}
.box2 > img{
    width: 350px;
    height: 510px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.box3{
    width: 350px;
    height: 510px;
    background: linear-gradient(90deg, rgb(155, 160, 247) 4%, rgb(156, 255, 255) 51%, rgb(130, 208, 241) 94%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.p{
    letter-spacing: 5px;
    padding-top: 40px;
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(83, 83, 83);
}
.h1{
    padding-top: 20px;
    padding-left: 50px;
}
.p1{
    padding-top: 20px;
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(83, 83, 83);
    line-height: 25px;
}
.heading{
    padding-left: 50px;
    display: inline;
    color: rgb(7, 102, 245);
}
.s{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(83, 83, 83);
}
.btn{
    margin-left: 50px;
    width: 250px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(90deg, rgba(2,247,249,1) 0%, rgba(40,48,199,1) 44%, rgba(2,247,249,1) 87%);
    color: white;
    border-radius: 10px;
    border: none;
}
.cart{
    width: 16px;
    height: 16px;
}